{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
    
<h2>{{vm.title}} Питання {{vm.question_counter}}/{{vm.number_of_questions}}</h2>

<div id="absCont">
  <canvas id="canvas2" width="600" height="400"></canvas>  
  <pre id="questionText" class="noselect">{{vm.question.text}}</pre>
</div>

<form method="post" class="noselect">
  <input type="hidden" name="focusCounter" id="focusCounter" value="0" />

  <ul >
      {% set type = "radio" if vm.question.kind == "!" else "checkbox" %}
      {% for n, answer in vm.answers %}
      <li style="list-style-type: none">
        <input type="{{type}}"  name="choice" value="{{n}}" /> {{answer[1:]}}  
      </li>
      {% endfor %}
  </ul>
   <div>
      <button type="submit">Наступне</button>
   </div>
</form>
<div>Залишок часу <span id="rest_seconds"></span></div>
{% endblock %}
{% block script %}
   <script>
     let t = {{vm.rest_seconds}};
     // clock 
     rest_seconds.innerHTML = `${t/60|0}:${t%60}`
     setInterval(() => {
        t--;
        rest_seconds.innerHTML = `${t/60|0}:${t%60}`
     }, 1000)
   </script>
   <script src="/static/js/check_run.js"></script>
{% endblock %}