{% extends "layout.html" %}

{% block title %}
{{ problem.title }}
{% endblock %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.2/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.2/mode-{{ problem.lang }}.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.2/theme-github.min.js"></script>
{% endblock %}

{% block content %}

<h3>{{ problem.title }} <small> ({{ problem.lang }})</small></h3>

<div>{{ problem.cond }}</div>

<div id="editor" style="height: 460px; width: 100%; border: 1px solid; margin: 5px 0 5px 0;"></div>

<div>
    <button id="checkButton">Перевірити</button>
    <img id="checkImage" src="/static/img/check-img.png" style="height: 70px; display: none;">
</div>

<textarea id="message" style="color: red;"></textarea>

<input type="hidden" id="problemId" value="{{ problem.id }}">
{% endblock %}
    
{% block script %}
<script>
    const editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/{{ problem.lang }}");
    editor.setValue(`{{ problem.view|safe }}`);
    editor.setFontSize(14);    
</script>
<script src="/static/js/solving_problem.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}